/* Base = mobile styles */

body{
  margin: 0;
  padding: 0;
}

#race-time-estimator {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  color: #111827;
}



#race-time-estimator .mrt-header {
    background-color: #1f2937;
    height: 80px;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    ;
}

#race-time-estimator .mrt-header-links{
    list-style: none;
    display: flex;
    gap: 30px;
}

#race-time-estimator .mrt-links{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

#race-time-estimator .mrt-title {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
}

#race-time-estimator .mrt-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

#race-time-estimator .mrt-explain_title{
    text-align: center;
    font-size: larger;
    
}



/* Desktop and up */
@media (min-width: 1024px) {
  #race-time-estimator .mrt-header {
    padding: 106px 40px;
  }
}