

#race-time-estimator{
  margin: 0;
  padding: 0;
}

#race-time-estimator *, .mrt-header-links{
    margin: 0px;
    padding: 0px;

}

/* sets the background color */
#race-time-estimator .mrt-header {
    background-color: #1f2937;
}


/* removes styling on link */
.mrt-header-links{
    list-style: none;
}

/* removes styling on link */
.mrt-links{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

/* Styles the Header logo */
.mrt-title {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
}

/* arranges the logo */
.mrt-header{
    height: 80px;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 300px;
}

/* styles the header links */
.mrt-header-links{
    display: flex;
    gap: 30px;
}